.venv_web/
.venv/
__pycache__/
.DS_Store
ENV/
.env
assets/img/portfolio/sachy.jpeg
assets/img/portfolio/deskovky1.jpg
supabase_test.js
supabase_test.html
assets/img/portfolio
assets/img/other_imgs
assets/img/background_new copy.png
assets/img/loga.jpg
